{% extends 'home/base.html' %}
{% load staticfiles %}

{% block body_block %}

{% if user.is_authenticated %}

<h3>{{post.author}}</h3>
  {% if post.posted_at %}

    <div class="postdate date">
      {{ post.posted_at }}
    </div>

  {% else %}

    <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">منتشر کن</a>

  {% endif %}

    <div class="jumbotron post p-3">
      <div class="row">

        <div class="col-lg-10">
          <blockquote class="blockquote">
            <i class="fa fa-quote-left" aria-hidden="true"></i>
            <span class='post-text'>{{ post.text|safe|linebreaksbr }}</span>
            <i class="fa fa-quote-right" aria-hidden="true"></i>
          </blockquote>

          <div class="like-content">

            <a class="btn btn-primary" href="#">
              <span class="glyphicon glyphicon-comment">لایک</span></a>

            <a class="btn btn-primary" href="{% url 'add_comment' pk=post.pk %}">
              <span class="glyphicon glyphicon-comment">نظر دهید</span></a>
          </div>

        </div>




          </div>
        </div>

        {% if user == post.author %}

          <div class="container">

            <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">
              <span class="glyphicon glyphicon-pencil">ویرایش</span></a>

            <a class="btn btn-primary" href="{% url 'post_remove' pk=post.pk %}">
              <span class="glyphicon glyphicon-remove">حذف</span></a>

          </div>
        {% endif %}

{% endif %}


<p></p>
<p></p>
<p></p>


<div class="container">

  {% for comment in post.comments.all %}
    <br>
    {% if user.is_authenticated or comment.approval %}
      {{ comment.written_at }}
        {% if not comment.approval %}

        <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">
          <span class="glyphicon glyphicon-remove"></span>
        </a>

        <a class="btn btn-primary" href="{% url 'comment_approval' pk=comment.pk %}">
          <span class="glyphicon glyphicon-ok"></span>
        </a>

        {% endif %}

      <p>{{ comment.text|safe|linebreaks }}</p>
    {% endif %}

    {% empty %}
    <p> No Comments </p>
  {% endfor %}

</div>


{% block javascripts %}
{{ block.super }}
{% load static %}
<script src="{% static 'js/status.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function(){
    status.init()
  })
</script>

{% endblock %}


{% endblock %}
