{% extends 'home/base.html' %}
{% load staticfiles %}

{% block body_block %}

<div class="centerstagte">

  {% if user.is_authenticated %}

  {% for post in post_list %}
    <div class="container post">
      <h4><a href="{% url 'post_detail' pk=post.pk %}">{{post.author}}</a></h4>

      <div class="date">
        <p>{{ post.posted_at|date:'D M Y' }}</p>
      </div>

      <div class="jumbotron post p-3">
        <div class="row">

          <div class="col-lg-10">
            <blockquote class="blockquote">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
              <span class='post-text'>{{ post.text|safe|linebreaksbr }}</span>
              <i class="fa fa-quote-right" aria-hidden="true"></i>
            </blockquote>
          </div>

          <div class="like-content">
            <a class="btn btn-primary" href="#">
              <span class="glyphicon glyphicon-comment">لایک</span></a>
              <p>{{post.approve_likes.count}}</p>

            <a class="btn btn-primary" href="{% url 'add_comment' pk=post.pk %}">
              <span class="glyphicon glyphicon-comment">نظر دهید</span></a>
              <p>{{post.approve_comments.count}}</p>


          </div>
        </div>


      </div>
    </div>
  {% endfor %}

  {% else %}
    <p></p>
  {% endif %}


</div>

{% block javascripts %}
{{ block.super }}
{% load static %}
<script src="{% static 'js/status.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function(){
    status.init()
  })
</script>

{% endblock %}

{% endblock %}
