<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>استاتوس</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- medium style editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    <!-- costum css -->
    <link rel="stylesheet" href="{% static '/css/status.css' %}">

    <!-- font familly -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


  </head>
  <body>

    <!-- navbar -->


    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'post_list' %}">صفحه اصلی</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">درباره ما</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">تماس</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">اهداف</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">دوستان</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">استاتوس</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">

            {%if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'post_new' %}">پست جدید</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'draft_list' %}">صندوقچه</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">خروج</a>
            </li>

            {% else %}

            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">ثبت نام</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">ورود</a>
            </li>
            {% endif %}

            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-warning" type="submit">جستجو</button>
            </form>



        </ul>
    </div>
</nav>




    <!-- content block -->

    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          <div class="statuses">
            {% block body_block %}
            {% endblock %}
          </div>

        </div>

      </div>

    </div>

    {% block javascripts %}
        {% include 'common/javascripts.html' %}
    {% endblock %}


  </body>
</html>
